/* MyEditor.css */
html,
body,
#root,
.h-full {
  height: 100%;
  margin: 0;
  padding: 0;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cm-editor,
.cm-scroller {
  height: 100% !important;
  min-height: 0 !important;
  box-sizing: border-box;
  overflow: hidden; /* Prevents height from increasing */
}

.cm-content {
  flex-grow: 1;
  height: 100%;
  min-height: 0 !important; /* Set to 0 to ensure content starts from the top */
  box-sizing: border-box;
  overflow-y: auto; /* Add vertical scrolling */
  max-height: 100%; /* Ensure it doesn't grow beyond the container */
}
